LibriSpeech
save_json
dest_wav_file
test.py
# test2.py
testNotebook.ipynb
speech_logger
saved_model
kk.py
ok.ipynb
extra_15_wav_files.txt
lightning_logs
__pycache__
test3.py
.vscode
test.cpp
a.out
test3.py
3-gram.pruned.1e-7.arpa
C_Vasilije_in_Cacak.exe